body, html {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: rgba(34, 34, 34, 0.829);
}

@font-face {
    font-family: 'Flamengo-font';
    src: url('Flamengo 2021.ttf') format('truetype');
}

@font-face {
    font-family: 'Barimhare';
    src: url('The Barimhare.ttf') format('truetype');
}

#cabeca {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nome-site {
    color: white;
    font-size: xx-large;
    font-family: 'Flamengo-font';
    padding: 0;
    margin: 0;
    margin-left: 35px;
}

.logo-link {
    margin-left: 600px;
    margin-right: auto;
}

.logo-link img {
    width: 70px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
    font-family: 'Flamengo-font';
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.navbar a:hover {
    background-color: red;
    border-radius: 10%;
    padding: 5px;
}

.container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid rgb(255, 255, 255);
    width: 1300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.993);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.301);
}

#paragrafos{
    border: 1px solid red;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.imagens{
    border: 5px double rgba(0, 0, 0, 0.829);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    width: 400px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
}
